{% set component = component | default('slider') %}
{% set webcomponent = webcomponent | default(false) %}
{% set classlist = { 
  main:       'slider swiper',
  wrapper:    'swiper-wrapper',
  slide:      'slider_slide swiper-slide',
  pagination: 'slider_pagination swiper-pagination',
  next:       'slider_button swiper-button-next',
  prev:       'slider_button swiper-button-prev',
  scrollbar:  'slider_scrollbar swiper-scrollbar',
} | merge(classlist | default({})) %}
{% set pagination = pagination | default(false) %}
{% set navigation = navigation | default(false) %}
{% set scrollbar = scrollbar | default(false) %}

{% set tagstart = webcomponent ?: ('div is="' ~ component ~ '"') %}
{% set tagend = webcomponent ?: 'div' %}

<{{ tagstart }} class="{{ classlist.main }} {{ class }}" id="{{ id }}"
  {% for attr, value in dataset %}data-{{ attr }}="{{ value }}"{% endfor %}>
  <div class="{{ classlist.wrapper }}">
    {% block content %}
      {% for slide in slides %}
        <div class="{{ classlist.slide }}">
          {{ slide | raw }}
        </div>
      {% endfor %}
    {% endblock %}
  </div>

  {% if pagination %}
    <div class="{{ classlist.pagination }}"></div>
  {% endif %}

  {% if navigation %}
    <div class="{{ classlist.prev }}"></div>
    <div class="{{ classlist.next }}"></div>
  {% endif %}

  {% if scrollbar %}
    <div class="{{ classlist.scrollbar }}"></div>
  {% endif %}
</{{ tagend }}>